@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* шаблоны анимаций */

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Основные стили страницы */
body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f5ec;
    color: #333;
    background-image: url('/img/back.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* Хеддер */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    padding-top: 40px;
    animation: fadeInDown 1.6s ease-out both;
}

/* Логотип */
nav .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: transform 0.3s ease;
}

nav .logo:hover {
    transform: scale(1.05);
}

.logo-img {
    width: 30px;
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

nav .logo:hover .logo-img {
    transform: rotate(15deg);
}

.inst-img{
    width: 30px;
    height: auto;
    padding-top: 3px;
    padding-left: 1px;
    transition: transform 0.3s ease;
}

nav .logo-text {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
}

nav .logo-text::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000000;
    transition: width 0.3s ease;
}

nav .logo:hover .logo-text::after {
    width: 100%;
}

/* Навигационная панель */
nav ul {
    list-style: none;
    display: flex;
    gap: 5px;
    margin: 0;
    padding: 0;
}

nav li {
    position: relative;
    overflow: hidden;
}


nav a {
    color: #6e6e6e;
    transition: all 0.3s ease;
    padding: 0px 5px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    position: relative;
}

nav a:hover {
    color: #000000;
}

nav li {
    opacity: 0;
    animation: fadeIn 0.5s ease-out forwards;
}

nav a {
    color: #6e6e6e;
    transition: all 0.3s ease;
    padding: 0px 5px;
    text-decoration: none;
    font-size: 20px;
}

nav a:hover {
    color: #000000;
}

/* Бургер-меню */
.burger {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    display: none; 
}

/* Стили для кнопок в хеддере */
.header-button {
    display: flex;
    align-items: center;
    gap: 15px;
}

nav .get-started {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    height: 50px;
    width: 150px;
    background: #d76b00;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

nav .get-started:hover {
    padding-right: 24px;
    padding-left: 8px;
}

nav .get-started:after {
    content: '»';
    font-size: 30px;
    position: absolute;
    opacity: 0;
    right: -20px;
    top: 45%;
    transform: translateY(-50%);
    transition: 0.5s;
}

nav .get-started:hover:after {
    opacity: 1;
    right: 10px;
}

nav .get-inst {
    width: 48px;
    height: 48px;
    background: #ffffff;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

nav .get-inst:hover {
    width: 125px;
}

/* Основная часть */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.hero-content {
    max-width: 55%;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-out forwards;
    animation-delay: 0.5s;
}

/* Заголовок с текстом */
.hero h1 {
    font-size: 70px;
    color: #8c4b26;
    margin: 20px 0 50px;
    font-weight: 400;
    animation-delay: 0.5s;
}

.hero p {
    width: 85%;
    font-size: 22px;
    color: #777777;
    margin-bottom: 50px;
    line-height: 1.5;
    animation-delay: 0.7s;
}

/* Кнопки перехода */
.main-button {
    display: flex;
    align-items: center;
    gap: 20px;
    animation-delay: 0.9s;
}

.book-now {
    font-size: 18px;
    height: 55px;
    width: 130px;
    background: #d76b00;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    border: 1px solid #d76b00;
    transition: 0.5s ease-in-out;
}

.book-now:hover {
    background: white;
    color: #d76b00;
    border: 2px solid #d76b00;
}

.watch-video {
    display: flex; 
    justify-content: center; 
    align-items: center;
    min-width: 150px;
    height: 55px;
    font-family: sans-serif;
    text-decoration: none;
    background-color: #fff;
    color: #333;
    letter-spacing: 2px;
    position: relative;
    transition: all 0.35s ease;
    font-size: 18px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
    padding: 0 20px;
    border: none;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.3);
    gap: 10px;
    overflow: hidden;
}

.watch-video span {
    position: relative;
    z-index: 2;
}

.watch-video:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #000000;
    transition: all 0.35s ease;
    border-radius: 25px;
    z-index: 1;
}

.watch-video:hover {
    color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.watch-video:hover .logo-img {
    content: url("/img/play_white.png");
    z-index: 3;
}

.watch-video:hover:after {
    width: 100%;
}

/* Часть с отзывами */
.testimonials {
    padding: 50px;
    padding-bottom: 0;
    padding-right: 0;
    max-width: 800px;
    overflow: hidden;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 0.8s ease-out forwards;
    animation-delay: 0.5s;
}

/* Стили хеддера отзывов */
.testimonials-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    opacity: 0;
    animation: fadeIn 0.6s ease-out forwards;
    animation-delay: 0.7s;
}

.testimonials h2 {
    color: #8c4b26;
    font-weight: 600;
    font-size: 30px;
}

/* Кнопки управления каруселью */
.testimonials-button {
    display: flex;
    gap: 15px;
    opacity: 0;
    animation: fadeIn 0.6s ease-out forwards;
    animation-delay: 1.2s;
    padding-right: 2px;
}


.get-left, .get-right {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #ffffff;
}


.get-left:active {
    background-color: #d76b00;
    transition: 1s;
}

.get-left:hover {
    transform: scale(1.1);
}

.get-right:active {
    background-color: #d76b00;
    transition: 1s;
}

.get-right:hover {
    transform: scale(1.1);
}

.get-left:active .swap-img-left {
    content: url("/img/left-white.png"); 
}

.get-right:active .swap-img-right {
    content: url("/img/right-white.png"); 
}

.swap-img-left {
    width: 30px;
    height: auto;
    padding-top: 5px;
    padding-left: 6px;
}

.swap-img-right {
    width: 30px;
    height: auto;
    padding-top: 5px;
    padding-right: 6px;
}

/* Контейнер карусели */
.row {
    display: flex;
    transition: transform 0.5s ease;
    gap: 20px;
    width: fit-content;
    padding-bottom: 20px;
}
/* Элемент карусели */
.testimonial {
    background: #ffffff;
    padding: 20px;
    padding-top: 5px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 350px;
    height: 230px;
    line-height: 1.5;
    font-size: 20px;
    flex-shrink: 0; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 210px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.6s ease-out forwards;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    scroll-snap-align: start;
}

.testimonial:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}


/* Стили наполнения карточек */
.client-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.av-tx {
    display: flex;
    align-items: center;
}

.avatar-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.text-info{
    display: flex;
    flex-direction: column;
}

.like-button {
    width: 50px;
    height: 50px;
    background: #ffffff;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.like-button:hover {
    transform: scale(1.1);
}

.like-img {
    width: 30px;
    height: 30px;
}

.like-button.inverted {
    background-color: #000000;
}

.like-button.inverted .like-img {
    filter: invert(1);
}

/* Медиа-запросы */

/* Ноутбуки (до 1440px) */
/* Уменьшение всех элементов */
@media (max-width: 1440px) {
    nav {
        padding: 0 40px;
        padding-top: 30px;
    }

    .hero {
        padding: 40px;
    }

    .hero h1 {
        font-size: 50px;
    }

    .hero p {
        font-size: 20px;
    }

    .testimonials-header{
        padding-right: 15px;
    }

    .testimonials {
        padding: 40px;
        padding-right: 0;
        max-width: 700px;
    }

    .testimonial {
        width: 290px;
        height: 220px;
    }
}

/* Ноутбуки поменьше (до 1024px) */
/* Уменьшение всех элементов */
@media (max-width: 1024px) {

    nav .logo-text {
        font-size: 25px;
        font-weight: bold;
        color: #000000;
    }

    nav {
        padding: 0 30px;
        padding-top: 30px;
        width: 960px;
        gap: 20px;
    }

    nav a{
        font-size: 20px;
    }


    nav .logo-img{
        width: 20px;
    }
    nav .get-inst{
        width: 40px;
        height: 40px;
        padding: 0;
    }

    nav .get-started{
        width: 120px;
        height: 40px;
        font-size: 16px;
        padding: 10px;

    }

    nav .get-started:after {
        content: '»';
        font-size: 20px;
        position: absolute;
        opacity: 0;
        right: -20px;
        top: 46.3%;
        transform: translateY(-50%);
        transition: 0.5s;
    }

    .hero {
        padding: 40px;
    }

    .hero h1 {
        font-size: 40px;
    }

    .hero p {
        font-size: 18px;
    }

    .book-now{
        width: 100px;
        height: 50px;
        font-size: 15px;
        padding: 0;
    }

    .watch-video{
        font-size: 15px;
        width: 160px;
        height: 50px;
        padding: 0px 10px;
        
    }

    .testimonials-header{
        padding-right: 15px;
    }
    .testimonials {
        padding: 40px;
        padding-right: 0;
        max-width: 700px;
    }

    .testimonial {
        width: 290px;
        height: 220px;
    }
}

/* Планшеты (до 768px) */
/* Центрирование всех элементов */
@media (max-width: 768px) {
    nav {
        padding: 0 20px;
        padding-top: 20px;
        display: flex;
        align-items: center; 
        width: auto;
        margin-bottom: 50px;
    }

    nav .logo {
        justify-content: center; 
    }

    nav .logo-text {
        font-size: 20px;
    }

    nav .logo-img{
        width: 20px;
    }
    nav .get-inst{
        width: 40px;
        height: 40px;
        padding: 0;
    }
    nav ul {
        gap: 0px;
        justify-content: center; 
        flex-wrap: wrap; 
    }

    nav a {
        font-size: 18px;
        text-align: center; 
    }

    .header-button {
        gap: 10px;
        justify-content: center; 
    }

    nav .get-started {
        width: 120px;
        font-size: 16px;
    }

    .hero {
        flex-direction: column;
        padding: 30px;
        text-align: center;
        align-items: center; 
        margin-bottom: 50px;
    }

    .hero-content {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    .hero h1 {
        font-size: 50px;
        margin: 10px 0 30px;
    }

    .hero p {
        width: 100%;
        font-size: 18px;
    }

    .main-button {
        justify-content: center; 
    }

    .testimonials {
        padding: 0;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    .testimonials-header {
        display: flex;
        width: 90%;
    }

    .testimonials h2 {
        margin-bottom: 15px; 
    }

    .testimonials-button {
        justify-content: center; 
    }

    .testimonial {
        width: 280px;
        height: 200px;
        font-size: 18px;
        text-align: center; 
    }

    .client-info {
        justify-content: center; 
        gap: 10px; 
    }

    .av-tx {
        justify-content: center; 
    }
}

/* Телефоны (до 480px) */
/* Центрирование всех элементов и добавление бургер-меню */
@media (max-width: 480px) {
    nav {
        padding: 0 15px;
        padding-top: 15px;
        position: relative;
        justify-content: space-between; 
        animation: none;
    }
    
    .burger {
        display: block;
        order: -1; 
        font-size: 24px;
        background: none;
        border: none;
        cursor: pointer;
        height: auto;
        transition: 0.5s; 
        position: relative;
        z-index: 101; 
    }
    
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
    }
    
    nav ul,
    .header-button {
    display: none;
    }


    nav ul.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    margin: 0;
    z-index: 100;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateX(0);
    }
    nav li{
        padding-bottom: 60px;
    }
    nav a{
        font-size: 30px;
        padding-bottom: 50px;
    }

    .header-button.active {
    display: flex;
    align-items: center;
    position: fixed; 
    bottom: 50px;
    width: 90%;
    padding-right: 20px;
    z-index: 101; 
    gap: 30px;
    }
    
    nav .get-started{
        width: 200px;
        height: 70px;
        font-size: 25px;
    }

    nav .get-inst{
        width: 70px;
        height: 70px;
    }
    .hero {
        padding: 20px;
    }

    .hero h1 {
        font-size: 36px;
    }

    .hero p {
        font-size: 16px;
    }
    

    .book-now {
        width: 110px;
        height: 45px;
        font-size: 16px;
    }

    .watch-video {
        min-width: 130px;
        height: 45px;
        font-size: 16px;
    }

    .testimonials {
        padding: 20px;
        padding-right: 0;
    }

    .testimonials h2 {
        font-size: 24px;
        padding-right: 10px;
    }

    .testimonial {
        width: 100%;
        max-width: 200px;
        height: 380px;
        font-size: 16px;
        padding: 15px;
        padding-top: 5px;
    }

    .swap-img-left{
        padding-top: 5px;
        padding-left: 6px;
    }

    .swap-img-right{
        padding-top: 5px;
        padding-right: 6px;
    }

    .avatar-img {
        width: 40px;
        height: 40px;
    }

    .like-button {
        width: 40px;
        height: 40px;
    }

    .like-img {
        width: 25px;
    }
}
/* Телефоны (до 320px) */
/* легкие доработки по ориентацие */
@media (max-width: 320px){
    .hero{
        padding-bottom: 0px;
        margin-bottom: 10px;
    }

    .row{
        padding-left: 60px;
    }

    .main-button{
        flex-direction: column;
    }

    .book-now{
        width: 180px;
    }
}