@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* Основные стили */
body {
    font-family: Josefin Sans;
    margin: 0;
    padding: 0;
    background-color: #f9f5ec;
    color: #333;
    background-image: url('/img/back.jpg');
    background-size: cover;
    background-position: center; /* Центрирует изображение */
    background-repeat: no-repeat; /* Запрещает повторение изображения */
    background-attachment: fixed; /* Фиксирует фон при прокрутке */
}

/* Навигация */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;
    padding-top: 40px;

    
}

nav .logo {
    display: flex;           
    align-items: center;     
    justify-content: center; 
    gap: 10px;              
}

.logo-img {
    width: 30px; /* Установите нужный размер изображения */
    height: auto;
}

nav .logo-text {
    font-size: 30px;
    font-weight: bold;
    color: #000000;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 20px;
}

/* Стили для контейнера кнопок */
.header-button {
    display: flex;
    justify-content: center; 
    align-items: center;    
    gap: 10px;              
}

/* Стили для кнопки Get Started */
nav .get-started {
    height: 50px;
    background: #d76b00;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
}

/* Стили для кнопки Instagram */
nav .get-inst {
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 48px;
    height: 48px;
    background: #ffffff;
    border-radius: 25px;
    cursor: pointer;
    padding: 0;
    border: none;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.3); 
}

/* Герой-секция */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.hero-content {
    max-width: 40%;
}

.hero h1 {
    font-size: 62px;
    color: #8c4b26;
    margin-top: 20px;
    margin-bottom: 50px;
    font-weight: 400;
}

.hero p {
    width: 85%;
    font-size: 18px;
    color: #777777;
    margin-bottom: 50px;
}

.main-button {
    display: flex;
    
    align-items: center;    
    gap: 10px;
}

.book-now{
    height: 50px;
    width: 120px;
    background: #d76b00;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
}

.watch-video{
    font-weight: bold;
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: auto;
    height: 50px;
    background: #ffffff;
    border-radius: 25px;
    cursor: pointer;
    padding: 20px;
    border: none;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.3); 
    gap: 10px;
}


/* Отзывы */
.testimonials {
    padding: 50px;
    
}

.testimonial {
    background: #f3ede5;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.client-info {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.client-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}